.playfield {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 800px;
}

.card {
  position: relative;
  border: 1px solid black;
  display: block;
  font-size: 18px;
  margin: 5px;
  width: 120px;
  height: 180px;
  text-align: center;
  line-height: 180px;
}
